<html>
    <header>
        <title>Internet Orange - SMS/MMS
            <no-reply@orange.com>
        </title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type\" />
        <style>
            p {
                line-height: 14px;
                margin: 10px;
            }

            .orange {
                color : #f16e00;
            }
        </style>
    </header>

    <body bgcolor="#FFFFFF" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
        <div align="left">
            <p>Bonjour,</p>
            <p>Le SMS/MMS que vous avez envoyé au <span class="orange">{{recipient}}</span> le <span class="orange">{{date}}</span> à <span class="orange">{{time}}</span> n'a pas pu être remis à son destinataire (n° de téléphone erroné ou mobile éteint).</p>
            <p>Nous vous invitons à vérifier le numéro de téléphone et à renvoyer ce message ultérieurement.</p>
            <p>Merci de votre confiance.</p>
            <p>Bien cordialement,</p>
            <p>Votre service clients Orange</p>
            <p>-------------------------------------------------------------------------------------------------</p>
            <p>Ce courriel est envoyé automatiquement. Nous vous remercions de ne pas y répondre, votre demande ne pourrait être traitée.</p>
        </div>
    </body>
    
</html>
