<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            a {
                color : #f16e00;
            }
            .orange_main_content p {
                margin-bottom: 15px;
            }

            .main-content .signature {
                color : rgb(90,90,90);
            }
        </style>
    </head>
    <body>
        <div style="font-family:Arial;text-align:center;">
            <div class="orange_main_content" width="700" style="display:block;margin-left:auto;margin-right:auto;margin-top:50px;text-align:left;width:700px;">
                <img src="{{logoUrl}}" class="logo-orange" width="40" height="40" style="display:block;width:40px;height:40px" />

                <div class="title" style="font-size:18pt;font-family:Helvetica;margin-top:40px;margin-bottom:50px;color:#f16e00;font-weight:normal;">{{title}}</div>

                <p class="ref" style="font-family:Arial;font-size:7.5pt;color:rgb(153,153,153);margin-bottom:50px">ref : {{ref}}</p>

                <div class="main-content" style="font-family:Arial;color:black;font-size:8.5pt;margin-bottom:20px;">{{content}}</div>

                <p class="disclaimer" style="font-size:7.5pt;font-family:Helvetica;color:rgb(180,179,179);">{{disclaimer}}</p>
            </div>
        </div>
    </body>
</html>